.head{
  height: 50px;
  display:grid ;
  grid-template-columns: 150px 200px 60px ;
  align-items: center;
  grid-gap: 10px;
}
hr{
  background-color: rgb(183, 182, 182);
  height: 1px; 
  border: 0;
}
.head p{
  margin: 20px;
}
#container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}
.head input{
  padding-left: 10px;
}
input:focus{
  outline-width: 0px;
  border-width: 1px;
  border-color:black ;
  outline-color:rgb(255, 99, 42);
}
#container div p{
  color:white;
  border-radius: 9px;
  padding: 20px;
  grid-column-gap: 20px;
  background-color: rgb(20, 34, 34);
  border-width: 2px;
  margin: 20px;
  border-color: black;
}
#writeNotes{
  width: 200px;
}